@import "tailwindcss";

/* index.css */

@keyframes fadeInOut {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

.loader-text {
  animation: fadeInOut 1.5s infinite;
}